<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joevl.arkanoidbattleprototype">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="GameActivity"
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="GameOverActivity"
            android:name=".GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="ScoreActivity"
            android:name=".ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="OptionsActivity"
            android:name=".OptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="MultiplayerGameActivity"
            android:name=".MultiplayerGameActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>



