<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joevl.arkanoidbattleprototype" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="GameActivity" android:name=".GameActivity"></activity>
        <activity android:label="ScoreActivity" android:name=".ScoreActivity"></activity>
        <activity android:label="OptionsActivity" android:name=".OptionsActivity"></activity>
    </application>

</manifest>



